<nav class="navbar">

  <img src="assets/images/boardgame1_logo.png"
       routerLink="/home"
       class="logo"/>

  <div class="nav-links">
    <a routerLink="/home">Home</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Sign Up</a>
  </div>

  <img src="assets/images/user_logo.jpg"
       class="user-icon"/>

</nav>

<section class="section slides">
  <h2>Photo Gallery</h2>
  <div class="slide-box">
    <img src="assets/images/friends.png">
    <img src="assets/images/game_night.png">
    <img src="assets/images/what_to_see1.png">
  </div>
</section>

<section class="section about">
  <h2>About Us</h2>
  <p>
    Our board game café is designed to create a welcoming space where people can disconnect from digital distractions and enjoy meaningful time together. Inspired by a **1990s retro atmosphere combined with a modern café aesthetic**, the environment blends nostalgic design elements with a comfortable and stylish setting. Instead of Wi-Fi and technology, the focus is on **traditional entertainment such as board games and card games**, encouraging interaction, teamwork, and friendly competition among friends and family. With relaxing background music, quality refreshments, and a wide selection of games, the café provides a unique social experience where visitors can unwind, engage, and create memorable moments through face-to-face connection. 🎲☕

  </p>
</section>

<section class="section game-types">
  <h2>Types of Games</h2>
  <div class="slide-box">
    <img src="assets/images/flip_7.png">
    <img src="assets/images/no_mercy.png">
    <img src="assets/images/no_thanks.png">
  </div>
</section>

<section class="section membership">
  <h2>Membership Details</h2>

  <ul>
    <li>✔ Basic Member Access</li>
    <li>✔ Premium Features</li>
    <li>✔ Profile Management</li>
    <li>✔ Secure Account System</li>
  </ul>

  <button routerLink="/signup" class="signup-btn">
    Join Membership
  </button>

</section>